header {
  padding: 120px 0 60px 0;
  height: 520px;
  width: 100%;

  background: lightslategray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#user-name h2{
  color: white;
  font-size: 40px;
  font-weight: normal;
}