nav {
  width: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  height: 120px;
  padding: 0 1.5em;

  color: #FFFFFF;
}

#tweeter {
  align-self: flex-end;
  margin-bottom: 0.7em;

  font-size: 40px;
  font-family: Bungee, sans-serif;
 }

 #nav-right-side {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 7px;
 }

 #write-new-tweet {
   font-size: 30px;
 }

 i.fa-angles-down{
  color: #6d0000;
 }