#tweet-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tweet {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.tweet > header {
  background-color: lightgreen;
  justify-content: space-between;
  display: flex;
}

.tweet > p {
  background-color: lightsalmon;

}

.tweet > footer {
  justify-content: space-between;
  background-color: lightgreen;
  display: flex;
}


