/* All tweets */
#tweet-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* One tweet */
.tweet {
  display: flex;
  flex-direction: column;
  gap: 0;

  border: 3px solid #362C2C;
  padding: 15px;
}

.tweet:hover{
  box-shadow: 10px 10px 0px -2px rgba(64,86,161,0.29);
}

/* Header area of tweet containing avatar, username, and userhandle */

.tweet > header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px 0 0;
}

.tweet > header > div:first-child {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.userhandle{
  color:  rgba(64,86,161,0.29);
  font-weight: bold;
}

.usericon{
  height: 50px;
}

/* Content of tweet */
.tweet > p {
  margin: 0;
  padding: 30px 15px;

  font-weight: bold;
}

/* Footer area of tweet age of tweet and tweet action icons */

.tweet > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 35px;

  border-top: 3px solid #362C2C;
  margin: 0;
  padding: 10px 15px 5px;

  font-weight: bold;
  font-size: 15px;
}

/* Flag, retweet, and like icons inside tweet-actions container */
.tweet-actions {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.tweet-actions > i {
  color: #4056A1;
}

.tweet-actions > i:hover {
  color: coral;
}